.xxxwrapper 
{
  border-style		:none;
  font-size		:medium;
  margin-top		:5px;
}

.xxxmessage
{
  white-space		:pre-wrap;
  padding-left		:10px;
  padding-top		:2px;
  padding-bottom	:2px;
}

.xxxsender
{
  white-space		:nowrap;
  font-weight		:bold;
}

.xxxtime 
{
  white-space		:nowrap;
  font-size			:small;
  color				:gray;
  padding-top		:2px;
  padding-bottom	:2px;
  padding-left		:1px;
  padding-right		:1px;
}

.xxxtopic
{
  padding-left		:15px;
  padding-right		:15px;
}

.consecutive
{
  margin-top		:0px;
}

.status .xxxmessage
{
  color			:darkgreen;
}

.notification .xxxmessage
{
  color			:darkblue;
}

.event .xxxmessage
{
  color			:darkred;
}

.mention .xxxmessage
{
  background-color	:mistyrose;
}

.date_separator .xxxmessage
{
  color			:darkCyan;
}

.date_separator .xxxtime
{
  color                 :transparent;
}

.history
{
	background-color: #D0D0D0;
}